<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Inicio :: head">
</head>
<body>
<div th:replace="Inicio :: div_side_bar"></div>

<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text">Carga // Propietario</span>
    </div>

    <br>

    <div class="text-center">
        <i class="fa fa-check-circle fa-5x success-icon"></i>
        <p class="success-message">Propietario cargado con exito</p>
    </div>

</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script src="/js/jsfilter.js"></script>
</body>
</html>
